html {
	background: linear-gradient(90deg, rgba(114,113,134,1) 0%, rgba(72,68,74,1) 35%, rgba(146,167,171,1) 100%);
}


body {
	margin: 0px;
    padding: 0px;
	font-family: "Boogaloo" ;
	font-size: 22px;
}

h1 {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
	align-items: center;
}


.form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.formGroup {
    margin-bottom: 15px;
}

.labelGroup {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: 25px;
}

select {
    width: 608px;
    height: 30px;
    border-radius: 0.5em;
    background-color: white;
}

input {
    width: 600px;
    height: 25px;
    border-radius: 0.25em;
    border: 1px solid gray;
}

textarea {
    margin-top: 10px;
}

.button {
   display: flex;
   width: 310px;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: white;
   padding: 30px;
   border-radius: 0.6rem;
   text-align: center;
   height: 80px;
   margin-top: 50px;
   cursor: pointer;
}

.formGroup2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.a2 {
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.section2 {
    justify-content: center;
	align-items: center;
	display: flex;
    margin: 0 auto;
    padding: 50px;
}

.mensaje {
    width: 150px;
    text-align: left;
    font-size: 25px;
}

textarea {
    border-radius: 0.6rem;
}

.formGroup3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.labelGroup2 {
    display: flex;
    text-indent: -200px;
    text-align: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 30px;
} 

.formGroup4 {
    display: flex;
    align-items: center;
    margin: auto 0;
    justify-content: center;
}

.labelGroup2 {
    display: flex;
    margin-bottom: 35px;
    margin-left: 280px;

}

.input1 {
    display: flex;
    height: 30px;
    width: 100px;
}

.a1 {
    color: black;
    text-decoration: none;
    font-size: 25px;
}




