html {
	background: linear-gradient(90deg, rgba(114,113,134,1) 0%, rgba(72,68,74,1) 35%, rgba(146,167,171,1) 100%);
}

body {
	margin: 0px;
    padding: 0px;
	font-family: "Boogaloo" ;
	font-size: 22px;
}

a {
 text-decoration: none;
 background-color: black;
 color: white;
 text-align: center;
 padding: 20px;
}