html {
	background: linear-gradient(90deg, rgba(114,113,134,1) 0%, rgba(72,68,74,1) 35%, rgba(146,167,171,1) 100%);
}

body {
	margin: 0px;
    padding: 80px;
	font-family: "Boogaloo" ;
	font-size: 22px;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
}

.nav1 {
	display: flex;
    justify-content: space-around;
	background-color: black;
	margin: 0px;
}

.menuLi {
	background-color: black;
	text-align: center;
	list-style: none;
	margin: 0px;
	text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
	display: inline;
}


.a1 {
	text-decoration: none;
	color: white;
}

.div1 {
	display: flex;
    justify-content: center;
    flex-direction: row;
}

.imagen1 {
	margin: 0px;
	float: left;
	height: 500px;
	width: 800px;
}

.p1 {
	border: 4px none rgb(61, 59, 59);
	float: right;
	width: 350px; 
	padding: 20px; 
	height: 450px; 
	margin: 0px 0px 20px 60px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}

.section1 {
	display: flex;
    justify-content: center;
    flex-direction: row;
}

.p2 {
	border: 4px none #3d3b3b;
	width: 350px; 
	padding: 20px; 
	height: 250px; 
	margin: 20px;
	background-color: black;
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}

.section2 {
	display: flex;
    justify-content: center;
    flex-direction: row;
}

.imagen2 {
	float: right;
	margin: 0px;
	height: 500px;
	width: 700px;
	margin: 20px -30px 0px 0px;
}

.p3 {
	border: 4px none rgb(61, 59, 59);
	width: 350px; 
	padding: 20px; 
	height: 450px; 
	margin: 20px 60px 0px -30px;
	float: left;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}

.section3 {
	display: flex;
    justify-content: center;
    flex-direction: row;
	margin: 0px 0px 0px 0px;
}

.div4 {
	text-align: center;
	float: left;
	border: 4px none rgb(61, 59, 59);
	background-color: black;
	color: white;
	width: 350px; 
	padding: 50px; 
	height: 280px; 
	margin: 50px;
}

.div5 {
	text-align: center;
	float: right;
	border: 4px none rgb(61, 59, 59);
	background-color: black;
	color: white;
	width: 350px; 
	padding: 50px; 
	height: 280px; 
	margin: 50px;
}




